{% extends 'base.html' %}

{% block body %}
<div role="main" class="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a href="index-corporate-2.html">Home</a></li>
						<li class="active">Submit Abstrak</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>Submit Abstrak</h1>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="lead">Panitia Lokal dan Seksi Ilmiah Kongres Nasional IX PERALMUNI 2017 mengundang sejawat sekalian untuk mengirimkan abstrak hasil penelitian original guna ditampilkan dalam sesi presentasi bebas poster.</p>
				<strong>Submit Abstrak</strong>
				<p class="lead">Periode penerimaan abstrak presentasi poster saat ini telah dibuka. Abstrak paling lambat diterima oleh Panitia pada tanggal 15 Maret 2017 via email ke  <a href=""> konasperalmunisby@gmail.com</a>  Abstrak yang lolos seleksi akan disampaikan secara langsung kepada peneliti koresponden pada 20 Maret 2017</p>

				<strong>Syarat dan Ketentuan :</strong>
				<ul class="list list-icons list-primary">
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Abstrak yang akan diseleksi hanyalah abstrak yang dikirim melalui alamat email tersebut diatas.</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i>Seorang peneliti dapat mengirimkan/mempresentasikan lebih dari 1 (satu) abstrak. Peneliti utama bisa menjadi peneliti pendamping pada lebih dari 1 (satu) abstrak penelitian yang lain.</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Pengiriman beberapa abstrak yang berasal dari satu penelitian yang sama tidak diperkenankan.</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i>Abstrak yang masuk hanya akan dinilai dan diijinkan untuk dipresentasikan jika abstrak tersebut belum pernah diajukan dan dipresentasikan pada acara ilmiah yang lain. Peneliti (pengaju abstrak) harus membuat pernyataan tertulis tentang hal tersebut.</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i>Naskah abstrak dibatasi maksimal sebanyak 2800 karakter atau 400 kata (termasuk spasi). Tidak ada pembatasan jumlah karakter untuk nama dan institusi peneliti.</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i>Dalam abstrak tidak perlu ditampilkan tabel atau gambar.</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i>Abstrak harus dibuat seinformatif mungkin, meliputi penelitian, metode yang digunakan, hasil yang diamati, dan kesimpulan yang dapat ditarik. Pernyataan dalam abstrak bahwa “hasil akan didiskusikan” atau “data akan dipresentasikan” tidak dapat diterima. Peneliti dapat menyusun paragraf abstrak dengan urutan sebagai berikut: Pendahuluan/Latar Belakang, Tujuan, Bahan dan Cara, Hasil serta Kesimpulan.</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i>Abstrak dapat ditulis dalam Bahasa Indonesia atau Inggris.</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i>Peneliti (pengaju abstrak) bertanggung jawab untuk mengirimkan naskah final abstrak yang sudah benar.</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i>Abstrak yang diterima dan lolos seleksi akan dipresentasikan padas sesi presentasi bebas poster selama KONAS IX PERALMUNI 2017.</li>
				</ul>
				<strong>Registrasi</strong>
				<p class="lead">Peneliti yang akan mempresentasikan abstrak harus sudah terdaftar sebagai peserta KONAS IX PERALMUNI pada tanggal 20 Maret 2017. Peneliti yang abstraknya lolos seleksi akan mendapatkan keringanan berupa biaya registrasi “early bird”. Semua peneliti yang akan mempresentasikan abstrak harus sudah terdaftar sebelum batas tanggal tersebut diatas. Jika ketentuan tersebut dilanggar maka abstrak yang sebelumnya sudah dinyatakan lolos akan dinyatakan ditolak. Biaya registrasi yang sudah terlanjur dibayar akan dikembalikan secara penuh jika pada akhirnya abstrak dinyatakan ditolak.</p>
				<strong>PERALMUNI Abstract Award</strong>
				<p class="lead">Semua abstrak yang lolol seleksi dan dipresentasika pada KONAS IX PERALMUNI 2017 secara otomatis akan diikutsertakan dalam lomba Abstrak Penelitian. Pemenang lomba abstrak akan diumumkan pada stand PERALMUNI selama KONAS berlangsung.</p>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	.dl-horizontal dt {
		width: 255px !important;
	}

	@media (min-width: 768px){
	.dl-horizontal dd {
	    margin-left: 265px;
		}
	}
</style>

{% endblock %}

{% block js %}

{% endblock %}