{% load static %}


<!DOCTYPE html>
<html>
  <head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 

    <title>Perhimpunan Alergi - Imunologi Indonesia (PERALMUNI)</title>  

    <meta name="keywords" content="imunologi indonesia, peralmuni 2017, peralmuni surabaya, peralmuni indonesia, daftar peralmuni di surabaya, perhimpunan alergi" />
    <meta name="description" content="Kongres Nasional IX Perhimpunan Alergi - Imunologi Indonesia (PERALMUNI)
">
    <meta name="author" content="Muhamad Husein | 087752639514">
    <meta name="google-site-verification" content="dGAfsQArzKZafYg61Xk6APx9PaS9ZxXUfwzr-Oz0F6A" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'images/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-fileupload.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/simple-line-icons.min.css' %}">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/theme-admin-extension.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme-elements.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme-animate.css' %}">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="{% static 'css/settings.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/component.css' %}" media="screen">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="{% static 'css/default.css' %}">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Head Libs -->
    <script src="{% static 'js/modernizr.min.js' %}"></script>

  </head>
  <body>

    <div class="body">
      <header id="header" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 57, "stickySetTop": "-57px", "stickyChangeLogo": true}'>
        <div class="header-body">
          <div class="header-container container">
            <div class="header-row">
              <div class="header-column">
                <div class="header-logo">
                  <a href="/">
                    <img alt="Porto" data-sticky-width="195" data-sticky-height="91" data-sticky-top="30" src="{% static 'images/logo.png' %}">
                  </a>
                </div>
              </div>
              <div class="header-column">
                <div class="header-row">
                  <div class="header-search hidden-xs">
                    
                  </div>
                  <nav class="header-nav-top">
                    <ul class="nav nav-pills">
                      <li class="hidden-xs">
                        Kongres Nasional IX Perhimpunan Alergi - Imunologi Indonesia (PERALMUNI)
                      </li>
                    </ul>
                  </nav>
                </div>
                <div class="header-row">
                  <div class="header-nav">
                    <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                      <i class="fa fa-bars"></i>
                    </button>
                    <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                      <nav>
                        <ul class="nav nav-pills" id="mainNav">
                          <li class="dropdown active">
                            <a class="" href="/">
                              Home
                            </a>
                          </li>
                          <li class="dropdown">
                            <a class="dropdown-toggle" href="">
                              Informasi Umum
                            </a>
                            <ul class="dropdown-menu">
                              <li><a href="{% url 'welcome' %}">Welcome Message (Sambutan)</a></li>
                              <li><a href="{% url 'panitia' %}">Susunan Panitia</a></li>
                              <li><a href="{% url 'konfirmasi_pembayaran' %}">Contact</a></li>
                            </ul>
                          </li>
                          <li class="dropdown">
                            <a class="dropdown-toggle" href="">
                              Peserta
                            </a>
                            <ul class="dropdown-menu">
                              <li><a href="{% url 'biayapendaftaran' %}">Biaya Pendaftaran</a></li>
                              <li><a href="{% url 'infohotel' %}">Informasi Hotel</a></li>
                              <li><a href="{% url 'cararegistrasi' %}">Cara Registrasi</a></li>
                              <li><a href="{% url 'register' %}">Registrasi</a></li>
                              <li><a href="{% url 'konfirmasi_pembayaran' %}">Konfirmasi Pembayaran</a></li>
                            </ul>
                          </li>
                          <li class="dropdown">
                            <a class="dropdown-toggle" href="">
                              Susunan Acara
                            </a>
                            <ul class="dropdown-menu">
                              <li><a href="{% url 'congressworkshop' %}">Pre-Congress Workshop </a></li>
                              <li><a href="{% url 'scientificprogramme' %}">Scientific Programme</a></li>
                            </ul>
                          </li>
                          <li>
                            <a href="{% url 'abstract' %}">
                              Submit Abstrak
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      {% block body %}{% endblock %}
    <footer id="footer">
      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <p>Peralmuni Surabaya © Copyright 2017. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- Vendor -->


  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.validation.min.js' %}"></script>

  <!-- Theme Base, Components and Settings -->
  <script src="{% static 'js/theme.js' %}"></script>

  <!-- Current Page Vendor and Views -->
  <script src="{% static 'js/jquery.appear.min.js' %}"></script>
  <script src="{% static 'js/moment.min.js' %}"></script>
  <script src="{% static 'js/daterangepicker.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'js/form-validation.js' %}"></script>
  <script src="{% static 'js/bootstrap-fileupload.min.js' %}"></script>
  <script src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>
  <script src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>

  <!-- Theme Initialization Files -->
  <script src="{% static 'js/theme.init.js' %}"></script>

  {% block js %}{% endblock %}
</body>
</html>
