{% extends 'base.html' %}

{% block body %}
<div role="main" class="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a href="index-corporate-2.html">Home</a></li>
						<li class="active">Biaya Pendaftaran</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>Biaya Pendaftaran</h1>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>
						Registration Fee
					</th>
					<th class="text-center">
						Paid before <br> 15 Jan 2017

					</th>
					<th class="text-center">
						Paid from <br> 16 Jan - 28 Feb 2017

					</th>
					<th class="text-center">
						Paid from <br>1 Mar – 9 Apr 2017

					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<b>Stand-alone Choice</b>
					</td>
					<td>
						
					</td>
					<td>
						
					</td>
					<td>
					
					</td>
				</tr>
				<tr>
					<td>
						Pre-Congress Workshop 1 : HIV/AIDS
					</td>
					<td>
						IDR  1,600,000
					</td>
					<td>
						IDR  1,850,000
					</td>
					<td>
						IDR  2,100,000
					</td>
				</tr>
				<tr>
					<td>
						Pre-Congress Workshop 2 : Lupus
					</td>
					<td>
						IDR  1,600,000
					</td>
					<td>
						IDR  1,850,000
					</td>
					<td>
						IDR  2,100,000
					</td>
				</tr>
				<tr>
					<td>
						Pre-Congress Workshop 3 : Chronic urticaria
					</td>
					<td>
						IDR  1,600,000
					</td>
					<td>
						IDR  1,850,000
					</td>
					<td>
						IDR  2,100,000
					</td>
				</tr>
				<tr>
					<td>
						Pre-Congress Workshop 4 : Flow cytometry
					</td>
					<td>
						IDR  2,000,000
					</td>
					<td>
						IDR  2,250,000
					</td>
					<td>
						IDR  2,500,000
					</td>
				</tr>
				<tr>
					<td>
						Pre-Congress Workshop 5: Asthma
					</td>
					<td>
						IDR  1,200,000
					</td>
					<td>
						IDR  1,450,000
					</td>
					<td>
						IDR  1,750,000
					</td>
				</tr>
				<tr>
					<td>
						Pre-Congress Workshop 6: Adult vaccination
					</td>
					<td>
						IDR  1,600,000
					</td>
					<td>
						IDR  1,850,000
					</td>
					<td>
						IDR  2,100,000
					</td>
				</tr>
				<tr>
					<td>
						Pre-Congress Workshop 7: Penicillin allergy
					</td>
					<td>
						IDR  1,600,000
					</td>
					<td>
						IDR  1,850,000
					</td>
					<td>
						IDR  2,100,000
					</td>
				</tr>
				<tr>
					<td>
						Pre-Congress Workshop 8: Eczema
					</td>
					<td>
						IDR  1,600,000
					</td>
					<td>
						IDR  1,850,000
					</td>
					<td>
						IDR  2,100,000
					</td>
				</tr>
				<tr>
					<td>
						Pre-Congress Workshop 9 : Immunobehaviour
					</td>
					<td>
						IDR  1,600,000
					</td>
					<td>
						IDR  1,850,000
					</td>
					<td>
						IDR  2,100,000
					</td>
				</tr>
				<tr>
					<td>
						Pre-Congress Workshop 10 : Chronic cough
					</td>
					<td>
						IDR  1,200,000
					</td>
					<td>
						IDR  1,450,000
					</td>
					<td>
						IDR  1,750,000
					</td>
				</tr>
				<tr>
					<td>
						National Congress for Student
					</td>
					<td>
						IDR  1,000,000
					</td>
					<td>
						IDR  1,250,000
					</td>
					<td>
						IDR  1,500,000
					</td>
				</tr>
				<tr>
					<td>
						National Congress for GP / Resident
					</td>
					<td>
						IDR  1,500,000
					</td>
					<td>
						IDR  1,750,000
					</td>
					<td>
						IDR 2,000,000
					</td>
				</tr>
				<tr>
					<td>
						National Congress for Specialist
					</td>
					<td>
						IDR  2,000,000
					</td>
					<td>
						IDR  2,250,000
					</td>
					<td>
						IDR  2,500,000
					</td>
				</tr>
				<tr>
					<td>
						&nbsp;
					</td>
					<td>
						
					</td>
					<td>
						
					</td>
					<td>
						
					</td>
				</tr>
				<tr>
					<td>
						<b>Meeting Packages</b>
					</td>
					<td>
						
					</td>
					<td>
						
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td>
						(1) 1 Workshop (1/2/3/6/7/8/9) + Congress for GP 
					</td>
					<td>
						IDR  2,750,000
					</td>
					<td>
						IDR  3,250,000
					</td>
					<td>
						IDR  3,750,000
					</td>
				</tr>
				<tr>
					<td>
						1 Workshop (1/2/3/6/7/8) + Congress for Specialist
					</td>
					<td>
						IDR  3,300,000
					</td>
					<td>
						IDR  3,800,000
					</td>
					<td>
						IDR  4,300,000
					</td>
				</tr>
				<tr>
					<td>
						(2) 1 Workshop (4) + Congress for GP
					</td>
					<td>
						IDR  3,250,000
					</td>
					<td>
						IDR  3,750,000
					</td>
					<td>
						IDR  4,250,000
					</td>
				</tr>
				
				<tr>
					<td>
						1 Workshop (4) + Congress fforSpecialist
					</td>
					<td>
						IDR  3,800,000
					</td>
					<td>
						IDR  4,300,000
					</td>
					<td>
						IDR  4,800,000
					</td>
				</tr>
				<tr>
					<td>
						(3) 1 Workshop (5/10) + Congress for  Student
					</td>
					<td>
						IDR  1,750,000
					</td>
					<td>
						IDR 2,250,000
					</td>
					<td>
						IDR  2,750,000
					</td>
				</tr>
				<tr>
					<td>
						Workshop (5/10) + Congress for GP
					</td>
					<td>
						IDR  2,250,000
					</td>
					<td>
						IDR  2,750,000
					</td>
					<td>
						IDR  3,250,000
					</td>
				</tr>
				<tr>
					<td>
						(4) 2 Workshops (1/2/3 and 6/7/8/9) + Congress for GP
					</td>
					<td>
						IDR  4,000,000
					</td>
					<td>
						IDR  4,500,000
					</td>
					<td>
						IDR  5,000,000
					</td>
				</tr>
				<tr>
					<td>
						Workshop (1/2/3 and 6/7/8) + Congress f for Specialist
					</td>
					<td>
						IDR  4,500,000
					</td>
					<td>
						IDR  5,000,000
					</td>
					<td>
						IDR 5,500,000
					</td>
				</tr>
				<tr>
					<td>
						(5) 2 Workshops (4 and 6/7/8/9) + Congress for GP
					</td>
					<td>
						IDR  4,500,000
					</td>
					<td>
						IDR  5,000,000
					</td>
					<td>
						IDR  5,500,000
					</td>
				</tr>
				<tr>
					<td>
						Workshop (4 and 5/7/8) + Congress  for Specialist 
					</td>
					<td>
						IDR  5,000,000
					</td>
					<td>
						IDR  5,500,000
					</td>
					<td>
						IDR  6,000,000
					</td>
				</tr>
				<tr>
					<td>
					(6) 2 Workshops (5 and 10) + Congress for Student
					</td>
					<td>
						IDR  2,500,000
					</td>
					<td>
						IDR  3,000,000
					</td>
					<td>
						IDR  3,500,000
					</td>
				</tr>
				<tr>
					<td>
						2 Workshops (5 and 10) + Congress for GP
					</td>
					<td>
						IDR  3,000,000
					</td>
					<td>
						IDR  3,500,000
					</td>
					<td>
						IDR  4,000,000
					</td>
				</tr>
				<tr>
					<td>
						(7) 2 Workshops (1/2/3 and 10) + Congress for GP
					</td>
					<td>
						IDR  3,500,000
					</td>
					<td>
						IDR  4,000,000
					</td>
					<td>
						IDR  4,500,000
					</td>
				</tr>
				<tr>
					<td>
						2 Workshops (5 and 6/7/8/9)  + Congress for GP
					</td>
					<td>
						IDR  3,500,000
					</td>
					<td>
						IDR  4,000,000
					</td>
					<td>
						IDR  4,500,000
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<style type="text/css">
	.dl-horizontal dt {
		width: 255px !important;
	}

	@media (min-width: 768px){
	.dl-horizontal dd {
	    margin-left: 265px;
		}
	}
</style>

{% endblock %}

{% block js %}

{% endblock %}