{% extends 'base.html' %}

{% block body %}
<div role="main" class="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a href="index-corporate-2.html">Home</a></li>
						<li class="active">Cara Registrasi</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>Cara Registrasi</h1>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<h2 class="text-center bold">Cara Pendaftaran Peserta</h2>
		<h2>Cara 1 (Online)</h2>
		<ol class="list list-ordened list-ordened-style-2">
			<li>Peserta mendaftar online terlebih dahulu. Klik di <a href="/register"><b>sini</b></a> untuk melanjutkan ke registrasi online.</li>
			<li>Peserta yang sudah mendaftar online, akan mendapatkan invoice pendaftaran yang akan dikirimkan ke email peserta.</li>
			<li>Peserta membayar sejumlah yang tertera pada invoice ke rekening bank panitia.</li>
			<li>Bukti pembayaran dapat dimasukkan secara online dengan mengakses menu <a href="/konfirmasi_pembayaran">'KONFIRMASI PEMBAYARAN'</a> </li>
			<li>Setelah panitia memproses bukti pembayaran tersebut, maka tanda terima akan kami kirim ke email pendaftar yang bersangkutan</li>
			<li>Registrasi Online dapat dilakukan sampai H-5.</li>
		</ol>
		<h2>Cara 2 (Offline)</h2>
		<ol class="list list-ordened list-ordened-style-2">
			<li>Peserta mengisi formulir pendaftaran yang dapat didownload <a href="/static/file/announcement.docx"><b>disini</b></a> </li>
			<li>Peserta membayar sesuai cara yang dipilih melalui transfer bank atau tunai</li>
			<li>Peserta membayar sejumlah yang tertera pada invoice ke rekening bank panitia</li>
			<li>Bukti pembayaran dikirimkan ke email panitia konasperalmunisby@gmail.com beserta dengan formulir yang telah diisi.</li>
			<li>Pendaftaran Offline dapat dilakukan sampai H-2.</li>
		</ol>
		<h2>Cara 3 (Onsite)</h2>
		<ol class="list list-ordened list-ordened-style-2">
			<li>Peserta mendatangi tempat acara saat acara berlangsung.</li>
			<li>Peserta membayar di loket pembayaran yang akan disediakan di lokasi.</li>
		</ol>
		<h2>Registrasi Penginapan</h2>
		<ol class="list list-ordened list-ordened-style-2">
			<li>Registrasi Penginapan dapat langsung secara online bersamaan dengan registrasi ataupun menghubungi panitia (Mb. Rosi, cp. 0815-5002-907) </li>
		</ol>
		<h2 class="text-center bold">Ketentuan Umum</h2>
		<ol class="list list-ordened list-ordened-style-2">
			<li>Bukti registrasi dibawa pada saat registrasi ulang disertai kartu identitas diri asli.</li>
			<li>Apabila ada perubahan workshop, peserta wajib menghubungi panitia.</li>
			<li>Apabila terdapat kesalahan dalam hal pengisian biodata peserta, maka panitia hanya dapat mengubah sejauh tidak mengubah nama peserta.</li>
		</ol>
	</div>
</div>

<style type="text/css">
	.dl-horizontal dt {
		width: 255px !important;
	}

	@media (min-width: 768px){
	.dl-horizontal dd {
	    margin-left: 265px;
		}
	}
</style>

{% endblock %}

{% block js %}

{% endblock %}