{% extends 'base.html' %}

{% block body %}
<div role="main" class="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a href="index-corporate-2.html">Home</a></li>
						<li class="active">Pre-Congres Workshop</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>Pre-Congres Workshop</h1>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<p>
			<img src="static/images/Workshop6Aprilrev.jpg" class="img-responsive" title="Pre-Congres Workshop Peralmuni Surabaya" alt="Pre-Congres Workshop, Kamis 6 April 2017 Peralmuni Surabaya ">
		</p>
		<p>
			<img src="static/images/Workshop7Aprilrev2.jpg" class="img-responsive" title="Pre-Congres Workshop Peralmuni Surabaya" alt="Pre-Congres Workshop, Jumat 7 April 2017 Peralmuni Surabaya">
		</p>
	</div>
</div>

{% endblock %}

{% block js %}

{% endblock %}