{% load humanize %}
{% load tag_orders %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Actionable emails e.g. reset password</title>
<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">
<div id=":1zv" class="a3s aXjCH m15873805a2a8c30e"><table style="width:100%;max-width:600px;margin:0 auto">
<tbody>
<tr class="m_4121751161758041627large">
<th style="padding:20px 40px;text-align:left">
<img src="http://peralmunisurabaya.com/static/images/logo1.png" alt="DomaiNesia Logo" height="50" class="CToWUd">
</th>
<th style="padding:20px 40px;text-align:right">
<div>Kongres Nasional IX Perhimpunan Alergi - Imunologi Indonesia (PERALMUNI)</div>
</th>
</tr>

</tbody>
</table>
<hr style="height:0px;border:none;border-top:1px solid #dddddd">
<div style="background:#f8f8f8;margin:0;padding:0;width:100%!important"><center class="m_4121751161758041627x_m_6498140388443558718simplifyEmailCenterWrapper" style="display:block;text-align:center">
<table id="m_4121751161758041627x_m_6498140388443558718simplifyEmailOuterTable" style="border-collapse:collapse;border-spacing:0px;margin:0px;padding:0px;width:100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:0">
<table class="m_4121751161758041627x_m_6498140388443558718templateContainer" style="border-collapse:collapse;border-spacing:0px;margin:0px auto;padding:0px;width:600px" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:0" align="left">
<table style="border-collapse:collapse;border-spacing:0px;margin:0px;padding:0px;width:100%">
<tbody>
<tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:0" width="15" height="20">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td id="m_4121751161758041627x_m_6498140388443558718contentContainer" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:0" bgcolor="#ffffff">
<table style="border-collapse:collapse;border-spacing:0px;margin:0px;padding:0px;width:100%" align="left">
<tbody>
<tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:0" width="15" height="20">&nbsp;</td>
</tr>
<tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:0" width="15">&nbsp;</td>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:0" align="left" width="550">
<table style="border-collapse:collapse;border-spacing:0px;margin:0px;padding:0px;width:100%" align="left">
<tbody>
<tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:0">
<div>
<h1 class="m_4121751161758041627x_m_6498140388443558718h1" style="border-bottom-color:#e8e8e8;border-bottom-style:solid;border-bottom-width:1px;color:#808080;display:block;font-family:Arial;font-size:24px;font-weight:bold;line-height:80%;margin:0 0 20px;padding:0;text-align:left" align="left">Invoice #{{ registration.no_invoice }}</h1>
</div>
<div>
<p style="color:#555;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">Hello {{ registration.participant.full_name }} !</p>
<p style="color:#555;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">Terima kasih  telah melakukan pendaftaran sebagai peserta di acara Kongres Nasional IX Perhimpunan Alergi - Imunologi Indonesia (PERALMUNI) 2017. </p>
</div>
<div>
</div>
<div style="padding-top:15px">
<p style="color:#555;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0" align="center">Total tagihan:</p>
<div class="m_4121751161758041627x_m_6498140388443558718payment-amount" align="center"><span class="m_4121751161758041627x_m_6498140388443558718amount m_4121751161758041627x_m_6498140388443558718positive" style="color:#555;font-family:'Arial',sans-serif;font-size:40px!important;font-weight:bold;line-height:1.5;margin:0;padding:0">Rp {{ registration.total_biaya|intcomma }}</span></div>

<p style="color:#555;font-family:'Arial',sans-serif;font-size:12px;line-height:1.5;margin:0;padding:0" align="center"><em>Invoice akan aktif selama 1x24 jam, mohon melakukan pembayaran dengan segera untuk menghindari interupsi terhadap layanan anda.</em></p>
<p style="color:#555;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0 0 10px;padding:0" align="center">&nbsp;</p>
</div>
<div>
<p style="color:#555;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:10px 0 20px;padding:0;text-align:center">Pembayaran dapat dilakukan ke salah satu nomor rekening a/n <b> KONAS IX PERALMUNI </b>  <br>BANK JATIM Cabang RSUD Dr Soetomo</p>
<table class="m_4121751161758041627x_m_6498140388443558718list-logo--payment" style="border-collapse:collapse;border-spacing:0;margin:0 auto;padding:0;width:283px">
<tbody>
<tr style="border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-top-color:#cccccc;border-top-style:solid;border-top-width:1px">
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:10px 0" width="140px"><img class="m_4121751161758041627x_m_6498140388443558718list-logo--payment m_4121751161758041627x_m_6498140388443558718list-logo--mandiri CToWUd" style="border:0 none;height:auto;line-height:100%;margin:0 auto;outline:none;text-decoration:none;vertical-align:middle;width:100px" title="Bank Jatim" src="http://peralmunisurabaya.com/static/images/bankjatim.png" alt="Bank Jatim"></td>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:10px 0">
<p style="color:#555;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0;text-align:right;vertical-align:middle" align="right">Bank Jatim</p>
<p style="color:#555;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0;text-align:right;vertical-align:middle" align="right"><strong style="color:#555;font-size:14px">0322975368</strong></p>
</td>
</tr>
</tbody>
</table>
<p style="color:#555;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0" align="center">&nbsp;</p>
</div>
<p style="color:#555;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0 0 10px;padding:0" align="center">&nbsp;</p>
<div>
<p style="color:#555;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0 0 8px">Berikut adalah penjelasan tagihan pembayaran:</p>
<table id="m_4121751161758041627x_m_6498140388443558718templateList" style="background:#ffffff;border-bottom:1px solid #cccccc;border-collapse:collapse;border-spacing:0px;font-size:12px;margin:0px 0px 25px;padding:0px;width:100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#FFFFFF">
<tbody>
<tr><th style="background:#00aeef;border-bottom-style:none;color:#ffffff;padding-left:10px;padding-right:10px" colspan="3" bgcolor="#900135">
<h2 style="color:#ffffff;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:5px 0">Invoice #<span style="color:#ffffff!important;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0;text-decoration:none">{{ registration.no_invoice }}</span></h2>
</th></tr>
<tr>
<td style="background:#ffffff;border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse;border-spacing:0;color:#555;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:5px 10px" align="left" valign="top" bgcolor="#FFFFFF">Tanggal Pendaftaran</td>
<td style="background:#ffffff;border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse;border-spacing:0;color:#555;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:5px 10px" colspan="2" align="left" valign="top" bgcolor="#FFFFFF" width="50%">{{ registration.created_at|date:"d/m/Y" }}</td>
</tr>
<tr>
<td style="background:#ffffff;border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse;border-spacing:0;color:#555;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:5px 10px" align="left" valign="top" bgcolor="#FFFFFF">Nama Peserta</td>
<td style="background:#ffffff;border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse;border-spacing:0;color:#555;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:5px 10px" colspan="2" align="left" valign="top" bgcolor="#00aeef" width="50%"><a style="color:#00aeef!important;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0;text-decoration:none" href="#"> {{ registration.participant.full_name }}</a></td>
</tr>
<tr><th style="background:#00aeef;border-bottom-style:none;color:#ffffff;padding-left:10px;padding-right:10px" colspan="3" bgcolor="#900135">&nbsp;</th></tr>
<tr>
<td class="m_4121751161758041627x_m_6498140388443558718headingList" style="background:#f0f0f0;border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse;border-spacing:0;color:#555;font-family:'Arial',sans-serif;font-size:11px;line-height:1.5;margin:0;padding:5px 10px" colspan="2" align="left" valign="top" bgcolor="#F0F0F0" width="75%">
	<strong style="color:#555;font-size:14px">Detil transaksi</strong>
</td>
<td class="m_4121751161758041627x_m_6498140388443558718headingList" style="background:#f0f0f0;border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse;border-spacing:0;color:#555;font-family:'Arial',sans-serif;font-size:11px;line-height:1.5;margin:0;padding:5px 10px" align="right" valign="top" bgcolor="#F0F0F0" width="25%"><strong style="color:#555;font-size:14px">Total Belanja</strong></td>
</tr>
<tr>
	<td style="background:#ffffff;border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse;border-spacing:0;color:#555;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:5px 10px" colspan="2" align="left" valign="middle" bgcolor="#FFFFFF" width="75%">
		<p style="color:#555555!important;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0;text-decoration:none">WORKSHOPS</p>
	</td>
	<td style="background:#ffffff;border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse;border-spacing:0;color:#555;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:5px 10px" align="right" valign="middle" bgcolor="#FFFFFF" width="25%"><span class="m_4121751161758041627x_m_6498140388443558718amount m_4121751161758041627x_m_6498140388443558718positive" style="color:#555;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0"></span></td>
</tr>
{% for detail in registration.split_detail_registration %}

	{% if detail != '' %}

	<tr>
	<td style="background:#ffffff;border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse;border-spacing:0;color:#555;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:5px 10px" colspan="2" align="left" valign="middle" bgcolor="#FFFFFF" width="75%">
	<p style="color:#555555!important;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0;text-decoration:none">{{ detail|get_text_detail }}</p>
	</td>
	<td style="background:#ffffff;border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse;border-spacing:0;color:#555;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:5px 10px" align="right" valign="middle" bgcolor="#FFFFFF" width="25%"><span class="m_4121751161758041627x_m_6498140388443558718amount m_4121751161758041627x_m_6498140388443558718positive" style="color:#555;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">Rp {{ detail|get_price_detail|intcomma }}</span></td>
	</tr>
	{% endif %}
{% endfor %}

{% if registration.include_hotel %}
<tr>
	<td style="background:#ffffff;border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse;border-spacing:0;color:#555;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:5px 10px" colspan="2" align="left" valign="middle" bgcolor="#FFFFFF" width="75%">
		<p style="color:#555555!important;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0;text-decoration:none">ACCOMODATION HOTEL</p>
	</td>
	<td style="background:#ffffff;border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse;border-spacing:0;color:#555;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:5px 10px" align="right" valign="middle" bgcolor="#FFFFFF" width="25%"><span class="m_4121751161758041627x_m_6498140388443558718amount m_4121751161758041627x_m_6498140388443558718positive" style="color:#555;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0"></span></td>
</tr>
{% for i in registration.hotels.all %}
<tr>
	<td style="background:#ffffff;border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse;border-spacing:0;color:#555;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:5px 10px" colspan="2" align="left" valign="middle" bgcolor="#FFFFFF" width="75%">
	<p style="color:#555555!important;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0;text-decoration:none">{{ i.name }} - {{ i.room_type }}</p>
	</td>
	<td style="background:#ffffff;border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse;border-spacing:0;color:#555;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:5px 10px" align="right" valign="middle" bgcolor="#FFFFFF" width="25%"><span class="m_4121751161758041627x_m_6498140388443558718amount m_4121751161758041627x_m_6498140388443558718positive" style="color:#555;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">Rp {{ i.price|total_harga_kamar:registration.total_nights|intcomma }}</span></td>
</tr>
{% endfor %}
{% endif %}
<tr class="m_4121751161758041627x_m_6498140388443558718white-border-bottom">
<td class="m_4121751161758041627x_m_6498140388443558718grand-total-title" style="background:#f0f0f0;border-bottom-color:#ffffff!important;border-bottom-style:solid!important;border-bottom-width:1px!important;border-collapse:collapse;border-spacing:0;color:#555;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:5px 10px" colspan="2" align="left" valign="top" bgcolor="#f0f0f0"><strong style="color:#555;font-size:14px">TOTAL PEMBAYARAN</strong></td>
<td class="m_4121751161758041627x_m_6498140388443558718grand-total-amount" style="background:#3bb878;border-bottom-color:#ffffff!important;border-bottom-style:solid!important;border-bottom-width:1px!important;border-collapse:collapse;border-spacing:0;border-top-color:#ffffff;color:#555;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:5px 10px" align="right" valign="top" bgcolor="#3bb878" width="25%"><strong style="color:#555;font-size:14px"><span class="m_4121751161758041627x_m_6498140388443558718amount m_4121751161758041627x_m_6498140388443558718positive" style="color:#ffffff!important;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">Rp {{ registration.total_biaya|intcomma }}</span></strong></td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
<tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:0">
<p style="color:#555;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">Kami akan mengirimkan No. Registrasi apabila anda telah melakukan pembayaran sesuai Invoice yang di kirim.<br> <br>Anda juga dapat melakukan konfirmasi pembayaran melalui <a href="http://peralmunisurabaya.com/konfirmasi_pembayaran" target="_blank">Formulir Konfirmasi</a><br> Segera setelahnya, pendaftaran anda akan kami proses.</p>
</td>
</tr>
<tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:0" height="14">&nbsp;</td>
</tr>
<tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.3;margin:0;padding:0"><center>
<p class="m_4121751161758041627x_m_6498140388443558718grey-box" style="background:#3bb878;padding-bottom:10px;padding-top:10px;width:30%;color:#fff"><span style="text-decoration:underline"><span style="color:#ffffff;text-decoration:underline"><a href="http://peralmunisurabaya.com/konfirmasi_pembayaran" target="_blank"><span style="color:#ffffff;text-decoration:underline">Konfirmasi Pembayaran</span></a></span></span></p>
</center></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</center></div>
<hr style="height:0px;border:none;border-top:1px solid #dddddd">



<hr style="border:0px;height:5px;background-image:url('https://ci3.googleusercontent.com/proxy/7QK0SdG1dgHwHCOB6SrqkfszBQn8-ynPdaN8u9pqZNrhRcRXMO-x-mDrkC2cfOWnTToXn9og=s0-d-e1-ft#https://cldup.com/f-zDfwCtt6.gif');background-repeat:repeat-x">
 <br>
</p><div class="yj6qo"></div><div class="adL">


</div></div>
</body>
</html>