{% load humanize %}
{% load tag_orders %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Email No. Registrasi</title>
	<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">
	<div id=":1zv" class="a3s aXjCH m15873805a2a8c30e"><table style="width:100%;max-width:600px;margin:0 auto">
		<tbody>
			<tr class="m_4121751161758041627large">
				<th style="padding:20px 40px;text-align:left">
					<img src="http://peralmunisurabaya.com/static/images/logo1.png" alt="DomaiNesia Logo" height="50" class="CToWUd">
				</th>
				<th style="padding:20px 40px;text-align:right">
					<div>Kongres Nasional IX Perhimpunan Alergi - Imunologi Indonesia (PERALMUNI)</div>
				</th>
			</tr>

		</tbody>
	</table>
	<hr style="height:0px;border:none;border-top:1px solid #dddddd">
	<div style="background:#f8f8f8;margin:0;padding:0;width:100%!important"><center class="m_4121751161758041627x_m_6498140388443558718simplifyEmailCenterWrapper" style="display:block;text-align:center">
		<table id="m_4121751161758041627x_m_6498140388443558718simplifyEmailOuterTable" style="border-collapse:collapse;border-spacing:0px;margin:0px;padding:0px;width:100%" border="0" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:0">
						<table class="m_4121751161758041627x_m_6498140388443558718templateContainer" style="border-collapse:collapse;border-spacing:0px;margin:0px auto;padding:0px;width:600px" border="0" cellspacing="0" cellpadding="0" align="center">
							<tbody>
								<tr>
									<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:0" align="left">
										<table style="border-collapse:collapse;border-spacing:0px;margin:0px;padding:0px;width:100%">
											<tbody>
												<tr>
													<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:0" width="15" height="20">&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td id="m_4121751161758041627x_m_6498140388443558718contentContainer" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:0" bgcolor="#ffffff">
										<table style="border-collapse:collapse;border-spacing:0px;margin:0px;padding:0px;width:100%" align="left">
											<tbody>
												<tr>
													<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:0" width="15" height="20">&nbsp;</td>
												</tr>
												<tr>
													<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:0" width="15">&nbsp;</td>
													<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:0" align="left" width="550">
														<table style="border-collapse:collapse;border-spacing:0px;margin:0px;padding:0px;width:100%" align="left">
															<tbody>
																<tr>
																	<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:'Arial',sans-serif;line-height:1.5;margin:0;padding:0">
																		<div>
																		</div>
																		<div>
																			<p style="color:#555;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">Yth.
																				{{ registration.participant.full_name }} Terima kasih telah melakukan pembayaran terhadap invoice #{{ registration.no_invoice }} 
																				Berikut kami lampirkan No. Registrasi anda </p>

																			</div>
																			<div>
																			</div>
																			<div style="padding-top:15px">

																				<p style="color:#555;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0 0 10px;padding:0" align="center">&nbsp;</p>
																			</div>
																			<div>
																				<div style="border-style:dotted">
																					<p style="text-align:center"><span style="color:#000000"><span style="font-size:16px">No Registrasi:</span><span style="font-size:20px"><kbd><strong> </strong><strong>{{ registration.no_registrasi }}</strong></kbd></span></span></p>
																				</div>
																				<p style="color:#555;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0" align="center">&nbsp;</p>
																			</div>
																			<p>
																				<br>
																				<span style="color:#000000">Salam,<br>
																				<strong>Tim PERALMUNI</strong></span>
																			</p>
																			<p style="color:#555;font-family:'Arial',sans-serif;font-size:14px;line-height:1.5;margin:0 0 10px;padding:0" align="center">&nbsp;</p>
																			<div>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</center></div>

							<hr style="height:0px;border:none;border-top:1px solid #dddddd">
							<hr style="border:0px;height:5px;background-image:url('https://ci3.googleusercontent.com/proxy/7QK0SdG1dgHwHCOB6SrqkfszBQn8-ynPdaN8u9pqZNrhRcRXMO-x-mDrkC2cfOWnTToXn9og=s0-d-e1-ft#https://cldup.com/f-zDfwCtt6.gif');background-repeat:repeat-x">
							<br>
						</p><div class="yj6qo"></div>
						<div class="adL">
						</div>
					</div>
				</body>
			</html>