{% extends 'base.html' %}
{% load static %}
{% block body %}
<div role="main" class="main">
    <div class="slider-container rev_slider_wrapper" style="height: 460px;">
      <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options='{"delay": 9000, "gridwidth": 1170, "gridheight": 460}'>
        <ul>
          <li data-transition="fade">
            <img src="{%static 'images/slide1.jpg' %}"  
            alt=""
            data-bgposition="center center" 
            data-bgfit="cover" 
            data-bgrepeat="no-repeat" 
            class="rev-slidebg">

            <div class="tp-caption"
            data-x="center" data-hoffset="-150"
            data-y="center" data-voffset="-95"
            data-start="1000"
            style="z-index: 5"
            data-transform_in="x:[-300%];opacity:0;s:500;"></div>

            <div class="tp-caption top-label"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="-95"
            data-start="500"
            style="z-index: 5"
            data-transform_in="y:[-300%];opacity:0;s:500;"></div>

            <div class="tp-caption"
            data-x="center" data-hoffset="150"
            data-y="center" data-voffset="-95"
            data-start="1000"
            style="z-index: 5"
            data-transform_in="x:[300%];opacity:0;s:500;"></div>

            <div class="tp-caption main-label"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="-45"
            data-start="1500"
            data-whitespace="nowrap"             
            data-transform_in="y:[100%];s:500;"
            data-transform_out="opacity:0;s:500;"
            style="z-index: 5"
            data-mask_in="x:0px;y:0px;"></div>

            <div class="tp-caption bottom-label"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="5"
            data-start="2000"
            style="z-index: 5"
            data-transform_in="y:[100%];opacity:0;s:500;"></div>


          </li>
          <li data-transition="fade">
            <img src="{%static 'images/slide2.jpg' %}"  
            alt=""
            data-bgposition="center center" 
            data-bgfit="cover" 
            data-bgrepeat="no-repeat" 
            class="rev-slidebg">

            <div class="tp-caption"
            data-x="center" data-hoffset="-150"
            data-y="center" data-voffset="-95"
            data-start="1000"
            style="z-index: 5"
            data-transform_in="x:[-300%];opacity:0;s:500;"></div>

            <div class="tp-caption top-label"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="-95"
            data-start="500"
            style="z-index: 5"
            data-transform_in="y:[-300%];opacity:0;s:500;"></div>

            <div class="tp-caption"
            data-x="center" data-hoffset="150"
            data-y="center" data-voffset="-95"
            data-start="1000"
            style="z-index: 5"
            data-transform_in="x:[300%];opacity:0;s:500;"></div>

            <div class="tp-caption main-label"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="-45"
            data-start="1500"
            data-whitespace="nowrap"             
            data-transform_in="y:[100%];s:500;"
            data-transform_out="opacity:0;s:500;"
            style="z-index: 5"
            data-mask_in="x:0px;y:0px;"></div>

            <div class="tp-caption bottom-label"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="5"
            data-start="2000"
            style="z-index: 5"
            data-transform_in="y:[100%];opacity:0;s:500;"></div>


          </li>
          <li data-transition="fade">
            <img src="{%static 'images/slide3.jpg' %}"  
            alt=""
            data-bgposition="center center" 
            data-bgfit="cover" 
            data-bgrepeat="no-repeat" 
            class="rev-slidebg">

            <div class="tp-caption"
            data-x="center" data-hoffset="-150"
            data-y="center" data-voffset="-95"
            data-start="1000"
            style="z-index: 5"
            data-transform_in="x:[-300%];opacity:0;s:500;"></div>

            <div class="tp-caption top-label"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="-95"
            data-start="500"
            style="z-index: 5"
            data-transform_in="y:[-300%];opacity:0;s:500;"></div>

            <div class="tp-caption"
            data-x="center" data-hoffset="150"
            data-y="center" data-voffset="-95"
            data-start="1000"
            style="z-index: 5"
            data-transform_in="x:[300%];opacity:0;s:500;"></div>

            <div class="tp-caption main-label"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="-45"
            data-start="1500"
            data-whitespace="nowrap"             
            data-transform_in="y:[100%];s:500;"
            data-transform_out="opacity:0;s:500;"
            style="z-index: 5"
            data-mask_in="x:0px;y:0px;"></div>

            <div class="tp-caption bottom-label"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="5"
            data-start="2000"
            style="z-index: 5"
            data-transform_in="y:[100%];opacity:0;s:500;"></div>
          </li>
          <li data-transition="fade">
            <img src="{%static 'images/slide4.jpg' %}"  
            alt=""
            data-bgposition="center center" 
            data-bgfit="cover" 
            data-bgrepeat="no-repeat" 
            class="rev-slidebg">

            <div class="tp-caption"
            data-x="center" data-hoffset="-150"
            data-y="center" data-voffset="-95"
            data-start="1000"
            style="z-index: 5"
            data-transform_in="x:[-300%];opacity:0;s:500;"></div>

            <div class="tp-caption top-label"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="-95"
            data-start="500"
            style="z-index: 5"
            data-transform_in="y:[-300%];opacity:0;s:500;"></div>

            <div class="tp-caption"
            data-x="center" data-hoffset="150"
            data-y="center" data-voffset="-95"
            data-start="1000"
            style="z-index: 5"
            data-transform_in="x:[300%];opacity:0;s:500;"></div>

            <div class="tp-caption main-label"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="-45"
            data-start="1500"
            data-whitespace="nowrap"             
            data-transform_in="y:[100%];s:500;"
            data-transform_out="opacity:0;s:500;"
            style="z-index: 5"
            data-mask_in="x:0px;y:0px;"></div>

            <div class="tp-caption bottom-label"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="5"
            data-start="2000"
            style="z-index: 5"
            data-transform_in="y:[100%];opacity:0;s:500;"></div>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="slider-with-overlay">
      <div class="slider-container rev_slider_wrapper" style="height: 460px;">
        <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options='{"delay": 9000, "gridwidth": 1170, "gridheight": 460}'>
          <ul>
            <li data-transition="fade">
              <img src="{%static 'images/banner-new.jpg' %}"  
                alt=""
                data-bgposition="center center" 
                data-bgfit="cover" 
                data-bgrepeat="no-repeat" 
                class="rev-slidebg">

              <div class="tp-caption"
                data-x="177"
                data-y="180"
                data-start="1000"
                data-transform_in="x:[-300%];opacity:0;s:500;"></div>

              <div class="tp-caption top-label"
                data-x="227"
                data-y="180"
                data-start="500"
                data-transform_in="y:[-300%];opacity:0;s:500;"></div>

              <div class="tp-caption"
                data-x="480"
                data-y="180"
                data-start="1000"
                data-transform_in="x:[300%];opacity:0;s:500;"></div>

              <div class="tp-caption main-label"
                data-x="135"
                data-y="210"
                data-start="1500"
                data-whitespace="nowrap"             
                data-transform_in="y:[100%];s:500;"
                data-transform_out="opacity:0;s:500;"
                data-mask_in="x:0px;y:0px;"></div>

              <div class="tp-caption bottom-label"
                data-x="185"
                data-y="280"
                data-start="2000"
                data-transform_in="y:[100%];opacity:0;s:500;"></div>
              
            </li>
          </ul>
        </div>
      </div>
      <div class="home-intro" id="home-intro">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <p>
                Kongres Nasional IX <br>
                Perhimpunan Alergi - Imunologi Indonesia (PERALMUNI).
                <span></span>
              </p>
            </div>
            <div class="col-md-4">
              <div class="get-started">
                <a href="/register" class="btn btn-lg btn-primary">Register Online Now!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="home-intro" id="home-intro">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <p>
                Kongres Nasional IX <br>
                Perhimpunan Alergi - Imunologi Indonesia (PERALMUNI).
                <span></span>
              </p>
            </div>
            <div class="col-md-4">
              <div class="get-started">
                <a href="/register" class="btn btn-lg btn-primary">Register Online Now!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<h1>Sambutan  <strong>Ketua Panitia</strong></h1>
          <p><img style="float: left;margin-right: 10px;" data-sticky-width="129" data-sticky-height="54" alt="Gatot Soegiarto" data-sticky-top="30" src="{% static 'images/gatot1.jpg' %}"> </p>
          <p>Surabaya akan menjadi tuan rumah Kongres Nasional PERALMUNI ke-9 tahun 2017, dari tanggal 8-9 April 2017. Kongres Nasional PERALMUNI merupakan kongres yang diadakan setiap 3 tahun oleh Perhimpunan Alergi dan Imunologi Indonesia (PERALMUNI) dan pada tahun 2017 didelegasikan pelaksanaannya kepada PERALMUNI Cabang Surabaya.</p>
          <p>Dengan tema: “Bersatu-padu menggalang semua sumber daya untuk mengatasi penyakit alergi dan imunologi”, kongres kali ini menawarkan kesempatan yang langka untuk saling bertukar pengalaman antar semua profesi di bidang alergi dan imunologi klinis, serta alih informasi dan pengetahuan tentang semua perkembangan ilmiah terbaru di kedua bidang ilmu tersebut. Diharapkan dengan demikian semua perkembangan tersebut juga dapat dinikmati oleh sejawat di fasilitas kesehatan tingkat 1, tingkat 2, maupun tingkat 3. </p>
          <p>Program ilmiah akan meliputi: plenary session, educational symposia, workshops, serta presentasi poster. Kami mengundang sejawat sekalian untuk mengirimkan hasil penelitian terbarunya agar dapat dipresentasikan dalam pertemuan ilmiah ini. Kami dengan senang hati menerima usulan topik atau program ilmiah yang sejawat harapkan ada dalam kongres kali ini. Kontribusi aktif sejawat sekalian merupakan hal yang akan sangat menentukan keberhasilan Kongres Nasional ini. Bersama-sama, kita akan menjadi semakin kuat dan diharapkan dapat mengatasi beban kesehatan yang ditimbulkan oleh penyakit alergi dan imunologi di Indonesia.</p>
          <p>Selain kegiatan ilmiah yang padat, sejawat sekalian juga akan dapat menikmati kehangatan dan keramah-tamahan kota Surabaya yang bukan saja menyandang julukan kota pahlawan dengan peninggalan sejarahnya, tetapi juga kota hijau dengn berbagai penghargaan internasional seperti kota dengan partisipasi publik terbaik se Asia Pasifik versi Cytinet Award 2012, The 2013 Asian Townscape Sector Award untuk taman-taman kota yang hijau seperti Taman Bungkul, dan Socrates Award 2014 untuk kategori City of The Future atau kota masa depan. Kami menanti kedatangan sejawat sekalian di kota Surabaya.</p>
          <p>Salam hangat,</p>
          <p><br>
            <img data-sticky-width="129" data-sticky-height="54" alt="tanda tangan Gatot Soegiarto" data-sticky-top="30" src="{% static 'images/ttdgatot1.png' %}"></p>
            <p><b>Gatot Soegiarto</b><br>
              Ketua Panitia Pelaksana <br> KONAS IX PERALMUNI 2017</p>
              <hr class="tall">
        </div>
		<div class="col-md-5">
			<h2>Scientific <strong>Sessions</strong></h2>
			<ul class="list list-icons list-dark mt-xlg">
				<li><i class="fa fa-book"></i> Pre-Congress Workshops</li>
				<li><i class="fa fa-book"></i> Plenary Lectures</li>
				<li><i class="fa fa-book"></i> Symposium</li>
				<li><i class="fa fa-book"></i> Meet The Expert</li>
			</ul>
			<hr>
			<h2>Event <strong>Location</strong></h2>
			<!-- Google Maps - Go to the bottom of the page to change settings and map location. -->
			<div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15831.338544404665!2d112.734845!3d-7.259653!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x604e1eba44859541!2sJW+Marriott+Hotel+Surabaya!5e0!3m2!1sen!2sid!4v1479398101054" width="457" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
			<!-- <div id="googlemaps" class="google-map small"></div> -->
			<ul class="list list-icons list-icons-style-3 mt-xlg">
				<li><i class="fa fa-map-marker"></i> <strong>Address:</strong> Jalan Embong Malang 85-89, Kedungdoro, Surabaya, Surabaya City, East Java 60261</li>
				<li><i class="fa fa-phone"></i> <strong>Phone:</strong>(031) 5458888</li>
				<li><i class="fa fa-envelope"></i> <strong>Website:</strong> <a href="marriott.com">marriott.com</a></li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}