{% extends 'base.html' %}

{% block body %}
<div role="main" class="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a href="index-corporate-2.html">Home</a></li>
						<li class="active">Hotel Information</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>Hotel Information</h1>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<h2>Special offer of Venue Hotel Room Rates only if you Make Reservation through The Organizing Committee </h2>
		<p>Enjoy our special discounted room rates before room availability last.</p>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>
						Room type
					</th>
					<th>
						Special Room Rate
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Deluxe Premium  </td>
					<td> IDR   1,300,000   net per night </td>
				</tr>
				<tr>
					<td>Studio Room </td>
					<td>IDR   1,700,000   net per night</td>
				</tr>
				<tr>
					<td>Executive Deluxe  </td>
					<td>IDR   2,400,000   net per night </td>
				</tr>
			</tbody>
		</table>
		<p>All above prices are inclusive of 21% Government Tax and Service Charges, and valid only if the reservation is made through KONAS PERALMUNI IX 2017 Organizing Committee</p>
		<p><img src="static/images/lokasihotel.png" class="img-responsive" alt="lokasi hotel JW Marriot"></p>

	</div>
</div>

<style type="text/css">
	.dl-horizontal dt {
		width: 255px !important;
	}

	@media (min-width: 768px){
	.dl-horizontal dd {
	    margin-left: 265px;
		}
	}
</style>

{% endblock %}

{% block js %}

{% endblock %}