{% extends 'base.html' %}

{% block body %}
<div role="main" class="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a href="index-corporate-2.html">Home</a></li>
						<li class="active">Payment Confirmation</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>Payment Confirmation</h1>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="mb-none">Payment Confirmation</h2>
				<p>Please fill in the following fields correctly</p>
				<hr class="tall">
				{% if message_error %}
				<div class="alert alert-secondary">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
					{{ message_error }}
				</div>
				{% endif %}

				{% if message_success %}
				<div class="alert alert-tertiary">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
					{{ message_success }}
				</div>
				{% endif %}
				<form class="form-horizontal form-bordered" id="form_konfirmasi" action="{% url 'konfirmasi_pembayaran' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-5 control-label" for="inputDefault">Nomor Invoice: :</label>
							<div class="col-md-7">
								<input type="text" class="form-control" id="no_invoice" name="no_invoice" placeholder="Masukan Nomor Invoice">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="inputDefault">Email :</label>
							<div class="col-md-7">
								<input type="text" class="form-control" id="email" name="email" placeholder="Masukan Email Anda">
							</div>
						</div>
						<!-- <div class="form-group">
							<label class="col-md-5 control-label" for="inputDefault">Bank Tujuan :</label>
							<div class="col-md-7">
								<select class="form-control mb-md" id="bank_tujuan" name="bank_tujuan">
									<option>-- Pilih Bank --</option>
									<option value="MANDIRI">BANK MANDIRI</option>
									<option value="BCA">BANK BCA</option>
								</select>
							</div>
						</div> -->
						<div class="form-group">
							<label class="col-md-5 control-label" for="inputDefault">Bank Pengirim :</label>
							<div class="col-md-7">
								<input type="text" class="form-control" id="bank_pengirim" name="bank_pengirim" placeholder="Misal : Bank BCA">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="inputDefault">Nomor Rekening Pengirim :</label>
							<div class="col-md-7">
								<input type="text" class="form-control" id="no_rekening_pengirim" name="no_rekening_pengirim" placeholder="410879232390">
							</div>
						</div>
					</div>
					<div class="col-md-6">

						<div class="form-group">
							<label class="col-md-5 control-label" for="inputDefault">Nama Pengirim :</label>
							<div class="col-md-7">
								<input type="text" class="form-control" id="nama_pengirim" name="nama_pengirim" placeholder="Misal : Muhamad Husein">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="inputDefault">Tanggal Transfer :</label>
							<div class="col-md-7">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</span>
									<input type="text" data-provide="datepicker" id="tanggal_transfer" name="tanggal_transfer" class="form-control">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="inputDefault">Jumlah Transfer :</label>
							<div class="col-md-7">
								<input type="text" class="form-control" id="jumlah_transfer" name="jumlah_transfer" placeholder="Masukan Jumlah Transfer Anda">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="inputDefault">Unggah Bukti Transfer :</label>
							<div class="col-md-7">
								<div class="fileupload fileupload-new" data-provides="fileupload">
									<div class="input-append">
										<div class="uneditable-input">
											<i class="fa fa-file fileupload-exists"></i>
											<span class="fileupload-preview"></span>
										</div>
										<span class="btn btn-default btn-file">
											<span class="fileupload-exists">Change</span>
											<span class="fileupload-new">Select file</span>
											<input type="file" id="bukti_transfer" name="bukti_transfer">
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="inputPassword"></label>
							<div class="col-md-10">
								<button type="submit" class="btn btn-3d btn-primary btn-lg pull-right">Confirm !</button>
							</div>
						</div>
					</div>
					<hr class="tall">
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$('.datepicker').datepicker();
</script>

{% endblock %}