{% extends 'base.html' %}

{% block body %}
<div role="main" class="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a href="index-corporate-2.html">Home</a></li>
						<li class="active">Susunan Panitia</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>Susunan Panitia</h1>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<div class="col-md-offset-2">
			<h4>Susunan  <strong>Panitia</strong></h4>
				<dl class="dl-horizontal">
				  	<dt>Ketua</dt>
				  	<dd>: DR. dr. Gatot Soegiarto, Sp.PD, K-AI</dd>
				  	<dt>Wakil Ketua</dt>
						<dd>: DR. dr Yuliasih, Sp.PD, K-R </dd>
						<dt>Sekretaris</dt>
						<dd>: dr. Wita Kartika Nurani, Sp.PD</dd>
						<dt>Wakil Sekretaris</dt>
						<dd>: dr. Yulia Nadar, Sp.PK</dd>
						<dt>Bendahara</dt>
						<dd>: dr. Dwi Reno Pawarti, Sp.THT-KL(K)</dd>
						<dt>Wakil Bendahara</dt>
						<dd>: dr. Deasy Fetarayani, Sp.PD</dd>
						<dt></dt>
						<dd></dd>
				</dl>
			<h4>Seksi <strong>Ilmiah</strong></h4>
				<dl class="dl-horizontal">
				  	<dt>Ketua</dt>
				  	<dd>: Dr. dr. Yuliasih,Sp.PD, K-R</dd>
				  	<dt>Koordinator Pre-congress</dt>
						<dd>: DR. dr Yuliasih, Sp.PD, K-R </dd>
						<dd>: DR. dr Yuliasih, Sp.PD, K-R </dd>
						<dt>Koordinator Congress</dt>
						<dd>: Dr. dr. Dominicus Husada, DTM&H, MCTM(TP), Sp.A (K)</dd>
						<dd>: dr. Damayanti, Sp.KK</dd>
						<dt>Anggota</dt>
						<dd>: Prof. DR. dr. Aryati, Sp.PK (K)</dd>
						<dd>: Prof. DR. dr Jusak Nugraha, MS, Sp.PK (K), LMusA, LRM</dd>
						<dd>: DR. dr. Anang Endaryanto, Sp.A (K)</dd>
						<dd>: DR. dr. Cita Rosita Sigit Prakoeswa, Sp.KK (K), FINS-DV, FAADV</dd>
						<dd>: DR. dr. M. Yulianto Listyawan, Sp.KK (K), FINS-DV, FAADV </dd>
						<dd>: DR. dr. Ahmad Suryawan Sp.A (K)</dd>
						<dd>: DR. dr. Hartono, Sp.PK (K), MQIH</dd>
						<dd>: DR. dr. Agung Dwi Wahyu Widodo, MSc</dd>
						<dd>: dr. Dwi Reno Pawarti, Sp.THT-KL (K)</dd>
						<dd>: dr. Ari Baskoro, Sp.PD, K-AI</dd>
						<dd>: dr. Zahrah Hikmah Sp.A (K)</dd>
						<dd>: dr. Sawitri, Sp.KK (K), FINS-DV, FAADV</dd>
						<dd>: dr. Menul Ayu Umborowati, Sp.KK</dd>
						<dd>: dr. Sylvia Anggraeni, Sp.KK</dd>
				</dl>
		</div>
		<div class="col-md-12">
			<div class="col-md-6 col-xs-6">
				<h4>Seksi <strong>Acara</strong></h4>
				<ul class="list list-icons list-primary">
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> dr. Azwin Mangindra Putera Sp.A (K)</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="300" style="animation-delay: 300ms;"><i class="fa fa-check"></i> dr. Yessi Puspitasari, Sp.PK</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="600" style="animation-delay: 600ms;"><i class="fa fa-check"></i> dr. Dini Fitrilia</li>
				</ul>
			</div>
			<div class="col-md-6 col-xs-6">
				<h4>Seksi  <strong>Konsumsi</strong></h4>
				<ul class="list list-icons list-primary">
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> dr. Lita Diah Rahmawati, Sp.PD, K-R</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="300" style="animation-delay: 300ms;"><i class="fa fa-check"></i>dr. Rastita Widyasari</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="600" style="animation-delay: 600ms;"><i class="fa fa-check"></i>dr. Diar Meitha Wardhana</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="600" style="animation-delay: 600ms;"><i class="fa fa-check"></i>dr. Adidia Carina Familia</li>
				</ul>
			</div>
			<div class="col-md-6 col-xs-6">
				<h4>Seksi Pameran <strong>Perlengkapan & Audiovisual</strong></h4>
				<ul class="list list-icons list-primary">
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i>dr. Ganjar Adityo Permadi</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="300" style="animation-delay: 300ms;"><i class="fa fa-check"></i> dr.Ahmad Danial </li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="600" style="animation-delay: 600ms;"><i class="fa fa-check"></i>dr. AdityaRiadi Syafei</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="600" style="animation-delay: 600ms;"><i class="fa fa-check"></i>dr. Decsa Medika Hertanto</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="600" style="animation-delay: 600ms;"><i class="fa fa-check"></i>dr. Dicky Pendi Alaudin Sangaji</li>
				</ul>
			</div>
			<div class="col-md-6 col-xs-6">
				<h4>Seksi  <strong>Transportasi</strong></h4>
				<ul class="list list-icons list-primary">
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> dr. Aditya Wirabuana</li>
				</ul>
			</div>
			<div class="col-md-6 col-xs-6">
				<h4>Seksi Kesekretariatan &  <strong>Registrasi</strong></h4>
				<ul class="list list-icons list-primary">
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Tita Kuswantin, S.Kom</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="300" style="animation-delay: 300ms;"><i class="fa fa-check"></i> Astuti  Lailya, A.Md</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="600" style="animation-delay: 600ms;"><i class="fa fa-check"></i> Arinil Haq</li>
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="600" style="animation-delay: 600ms;"><i class="fa fa-check"></i> Rosi Rosmari Triwahyuni, A.Md</li>
				</ul>
			</div>
			<div class="col-md-6 col-xs-6">
				<h4>Seksi   <strong>Dokumentasi</strong></h4>
				<ul class="list list-icons list-primary">
					<li class="appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> dr. Hananda Putra Luqmana</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	.dl-horizontal dt {
		width: 255px !important;
	}

	@media (min-width: 768px){
	.dl-horizontal dd {
	    margin-left: 265px;
		}
	}
</style>

{% endblock %}

{% block js %}

{% endblock %}