{% extends 'base.html' %}
{% load humanize %}

{% block body %}
<div role="main" class="main">

	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a href="index-corporate-2.html">Home</a></li>
						<li class="active">Registration</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>Registration</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="mb-none">Registration & Accomodation Form</h2>
				<p>Please fill in the following fields correctly</p>
				<hr class="tall">
				<p><b>PARTICIPANT</b> (Kindly completed)</p>
				{% if message_error %}
				<div class="alert alert-secondary">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
					{{ message_error }}
				</div>
				{% endif %}

				{% if message_success %}
				<div class="alert alert-tertiary">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
					{{ message_success }}
				</div>
				{% endif %}
				<form class="form-horizontal form-bordered" id="form_sample_3" action="{% url 'register' %}" method="post">{% csrf_token %}
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-3 control-label" for="title">Daftar Sebagai :</label>
								<div class="col-md-6">
									<div class="radio-custom">
										<input type="radio" id="type1" name="type" value="Student">
										<label for="type1">Student</label>
									</div>
									<div class="radio-custom">
										<input type="radio" id="type2" name="type" value="GP">
										<label for="type2">GP</label>
									</div>
									<div class="radio-custom">
										<input type="radio" id="type3" name="type" value="Spesialis">
										<label for="type3">Spesialis</label>
									</div>
								</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" for="title">Pilih Paket :</label>
								<div class="col-md-6">
									<div class="radio-custom">
										<input type="radio" id="package1" name="package" value="Stand-alone">
										<label for="package1">Stand-alone Choice </label>
									</div>
									<div class="radio-custom">
										<input type="radio" id="package2" name="package" value="Meeting Package">
										<label for="package2">Meeting Package</label>
									</div>
								</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-3 control-label" for="title">Title :</label>
							<div class="col-md-6">
								<input type="text" class="form-control" id="title" name="title">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" for="full_name">Full Name :</label>
							<div class="col-md-6">
								<input type="text" class="form-control" id="full_name" name="full_name">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" for="institution">Instituation :</label>
							<div class="col-md-6">
								<input type="text" class="form-control" id="institution" name="institution">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-3 control-label" for="address">Home Address :</label>
							<div class="col-md-6">
								<input type="text" class="form-control" id="address" name="address">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" for="city">City :</label>
							<div class="col-md-6">
								<input type="text" class="form-control" id="city" name="city">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" for="post_code">Post Code :</label>
							<div class="col-md-6">
								<input type="text" class="form-control" id="post_code" name="post_code">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" for="phone">Phone (Mobile) :</label>
							<div class="col-md-6">
								<input type="text" class="form-control" id="phone" name="phone">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" for="fax">Fax :</label>
							<div class="col-md-6">
								<input type="text" class="form-control" id="fax" name="fax">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" for="email">Email :</label>
							<div class="col-md-6">
								<input type="text" class="form-control" id="email" name="email">
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<hr class="tall">
					<p><b>SPONSOR</b> (Kindly completed)</p>
					<hr class="tall">
					<div class="form-group">
						<label class="col-md-3 control-label" for="sponsor_full_name">Full Name :</label>
						<div class="col-md-6">
							<input type="text" class="form-control" id="sponsor_full_name" name="sponsor_full_name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="sponsor_title">Title :</label>
						<div class="col-md-6">
							<input type="text" class="form-control" id="sponsor_title" name="sponsor_title">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label" for="sponsor_position">Position :</label>
						<div class="col-md-6">
							<input type="text" class="form-control" id="sponsor_position" name="sponsor_position">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="sponsor_city"> City :</label>
						<div class="col-md-6">
							<input type="text" class="form-control" id="sponsor_city" name="sponsor_city">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="sponsor_phone">Phone (Mobile) :</label>
						<div class="col-md-6">
							<input type="text" class="form-control" id="sponsor_phone" name="sponsor_phone">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="sponsor_email">Email :</label>
						<div class="col-md-6">
							<input type="text" class="form-control" id="sponsor_email" name="sponsor_email">
						</div>
					</div>
					<hr class="tall">
					<div class="checkbox-custom checkbox-default">
						<input type="checkbox" id="add_hotel" name="add_hotel">
						<label for="checkboxExample1" style="font-weight: bold;color: white;background: red;padding: 10px;">Reservation Hotel?</label>
					</div>
					<div class="hotels">
						<p><b>HOTEL RESERVATION</b> (Kindly <i class="fa fa-check"></i> appropiate circle/box)</p>
						<div class="col-sm-9 col-md-offset-1 col-xs-12">
							<table class="table table-bordered">
								<input type="hidden" id="hwk5" name="hwk5">
								<input type="hidden" id="hwk5_text" name="hwk5_text">
								<input type="hidden" id="hwk6" name="hwk6">
								<input type="hidden" id="hwk6_text" name="hwk6_text">
								<input type="hidden" id="hwk7" name="hwk7">
								<input type="hidden" id="hwk7_text" name="hwk7_text">

								<thead>
									<tr class="success">
										<th>
											Hotel Name
										</th>
										<th>
											Room Type
										</th>
										<th>
											Room Rate
										</th>
									</tr>
								</thead>
								<tbody>
									{% for i in hotels %}
									<tr>
										<td>
											{{ i.name }}
										</td>
										<td>
											<!-- <div class="radio-custom radio-primary">
												<input type="radio" id="hotel_{{ i }}" name="radioExample" data-text="{{ i.room_type }}" data-harga="{{ i.price }}">
												<label for="radioExample2">{{ i.room_type }}</label>
											</div> -->
											<div class="radio-custom radio-success">
												<input type="radio" id="meeting_package" name="hotel_choice" id="hotel_choice" data-text="{{ i.room_type }}" data-harga="{{ i.price }}" value="{{ i.id }}">
												<label for="radioExample3">{{ i.room_type }}</label>
											</div>
											<!-- <div class="checkbox-custom checkbox-default">
												<input type="checkbox" name="hotel_choice" id="hotel_choice" data-text="{{ i.room_type }}" data-harga="{{ i.price }}" value="{{ i.id }}">
												<label for="checkboxExample1"></label>
											</div> -->
											<!-- <div class="checkbox-custom checkbox-default">
												<input type="checkbox" id="wk5" data-text="Deluxe Room" data-harga="1400000">
												<label for="deluxeRoom">Deluxe Premium</label>
											</div> -->
										</td>
										<td>
											IDR {{ i.price|intcomma }}  net per night
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							<div>
								<p>All above prices are inclusive  21% Government Tax and Service Charges, and valid only if the reservation is made through KONAS PERALMUNI IX 2017 Organizing Committee. </p>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Check In & Check Out :</label>
								<div class="col-md-4">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</span>
										<input type="text" name="datefilter" id="datefilter" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="inputDefault">Total Night(s) :</label>
								<div class="col-md-3">
									<input type="text" class="form-control" id="total_nights" name="total_nights">
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					<hr class="tall">
					</div>
					<p><b>PRE-CONGRES WORKSHOPS</b> (Kindly <i class="fa fa-check"></i> appropiate circle/box)</p>
					<hr class="tall">
					<!-- <div class="col-sm-8 col-md-offset-2 col-xs-12">
						<table class="table table-bordered">
							<input type="hidden" id="hwk1" name="hwk1">
							<input type="hidden" id="hwk2" name="hwk2">
							<input type="hidden" id="hwk3" name="hwk3">
							<input type="hidden" id="hwk4" name="hwk4">
							<input type="hidden" id="hwk1_text" name="hwk1_text">
							<input type="hidden" id="hwk2_text" name="hwk2_text">
							<input type="hidden" id="hwk3_text" name="hwk3_text">
							<input type="hidden" id="hwk4_text" name="hwk4_text">
							<thead>
								<tr class="success">
									<th>
										#
									</th>
									<th>
										Workshop 19-20 October 2016
									</th>
									<th>
										Registration
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="checkbox-custom checkbox-default">
											<input type="checkbox" data-text="Mechanical Ventilation : From Basic Theory to Clinical Practice" data-harga="4000000" id="wk1">
											<label for="checkboxExample1"></label>
										</div>
									</td>
									<td>
										<label for="checkboxExample2">Mechanical Ventilation : From Basic Theory to Clinical Practice</label>
									</td>
									<td>
										IDR 4.000.000
									</td>
								</tr>
								<tr>
									<td>
										<div class="checkbox-custom checkbox-default">
											<input type="checkbox" data-text="From Basic Theory to Clinical Practice" data-harga="7000000" id="wk2">
											<label for="checkboxExample1"></label>
										</div>
									</td>
									<td>
										<label for="checkboxExample2">From Basic Theory to Clinical Practice</label>
									</td>
									<td>
										IDR 7.000.000
									</td>
								</tr>
								<tr >
									<td>
										<div class="checkbox-custom checkbox-default">
											<input type="checkbox" data-text="Nursing COurse on Ventilator Management" data-harga="1000000" id="wk3">
											<label for="checkboxExample1"></label>
										</div>
									</td>
									<td>
										<label for="checkboxExample2">Nursing COurse on Ventilator Management</label>
									</td>
									<td>
										IDR 1.000.000
									</td>
								</tr>
							</tbody>
						</table>
					</div> -->
					<div class="col-sm-9 col-md-offset-1 col-xs-12" id="pilihanStandAlone">
						<h3>Stand Alone Choice</h3>
						<table class="table table-bordered">
							<thead>
								<tr class="success">
									<th>
										#
									</th>
									<th>
										Nama Workshop
									</th>
									<th>
										Waktu Pembayaran
									</th>
									<th>
										Harga
									</th>
								</tr>
							</thead>
							<tbody>
								{% for i in stand_alones %}
								<tr id="list_{{ i.id }}" data-type="{{ i.list_participany_types }}">
									<td>
										<div class="checkbox-custom checkbox-default">
											<input type="checkbox" id="stand_alone" name="stand_alone" value="{{ i.id }}">
											<label for="checkboxExample1"></label>
										</div>
									</td>
									<td>
										<label for="checkboxExample2">{{ i.name }}</label>
									</td>
									<td>
										<ul>
											{% for z in i.date_workshopes.all %}
												<li>{{ z.start_date }} - {{ z.end_date }}</li>
											{% endfor %}
										</ul>
									</td>
									<td>
										<ul>
											{% for z in i.date_workshopes.all %}
												<li>IDR {{ z.price|intcomma }}</li>
											{% endfor %}
										</ul>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<hr class="tall">
					</div>
					<div class="col-sm-9 col-md-offset-1 col-xs-12" id="pilihanMeetingPackage">
						<h3>Meeting Package</h3>
						<table class="table table-bordered">
							<thead>
								<tr class="success">
									<th>
										#
									</th>
									<th>
										Nama Workshop
									</th>
									<th>
										Waktu Pembayaran
									</th>
									<th>
										Harga
									</th>
								</tr>
							</thead>
							<tbody>

								{% for i in meeting_packages %}
								<tr id="for_{{ i.participant_type }}" data-type="{{ i.participant_type }}">
									<td>
										<div class="radio-custom radio-success">
											<input type="radio" id="meeting_package" name="meeting_package" value="{{ i.id }}">
											<label for="radioExample3"></label>
										</div>
										<!-- <div class="checkbox-custom checkbox-default">
											<input type="checkbox" id="meeting_package" name="meeting_package" value="{{ i.id }}">
											<label for="checkboxExample1"></label>
										</div> -->
									</td>
									<td>
										<label for="checkboxExample2">{{ i.name }}</label>
									</td>
									<td>
										<ul>
											{% for z in i.date_workshopes.all %}
												<li>{{ z.start_date }} - {{ z.end_date }}</li>
											{% endfor %}
										</ul>
									</td>
									<td>
										<ul>
											{% for z in i.date_workshopes.all %}
												<li>IDR {{ z.price|intcomma }}</li>
											{% endfor %}
										</ul>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<hr class="tall">
					<!-- <div class="col-sm-8 col-md-offset-2 col-xs-12">
						<table class="table table-bordered">
							<thead>
								<tr class="success">
									<th>
										#
									</th>
									<th>
										Workshop 19 October 2016
									</th>
									<th>
										Registration
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="checkbox-custom checkbox-default">
											<input type="checkbox" data-text="Hemodynamic Monitoring in Emergency Situation" data-harga="2000000" id="wk4">
											<label for="checkboxExample1"></label>
										</div>
									</td>
									<td>
										<label for="checkboxExample2">Hemodynamic Monitoring in Emergency Situation</label>
									</td>
									<td>
										IDR 2.000.000
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<hr class="tall"> -->
					<br>
					<div class="form-group">
						<label class="col-md-3 control-label" for="inputPassword"></label>
						<div class="col-md-7">
							<button type="submit" class="btn btn-3d btn-primary btn-lg pull-right">Register now !</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}
<script>
	$(document).ready(function(){

		$('input[name="datefilter"]').daterangepicker({
		      autoUpdateInput: false,
		      locale: {
		          cancelLabel: 'Clear'
		      }
		  });

		  $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
		      $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
		  });

		  $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
		      $(this).val('');
		  });

		$("input[name='package']").click(function() {
		  	if (this.value == 'Stand-alone'){
		  		$('#pilihanMeetingPackage').hide();
		  		$('#pilihanStandAlone').show();

		  	}
		  	else{
		  		$('#pilihanStandAlone').hide();
		  		$('#pilihanMeetingPackage').show();
		  	}

		});

		$("input[name='type']").click(function() {
			var val = this.value;

			$( '[id^="for_"]' ).each(function( index ) {
				if ($(this).data('type') == val) {
					$(this).show();
				} else {
					$(this).hide();
				}
			});

			$( '[id^="list_"]' ).each(function( index ) {
				var list_participate = $(this).data('type');
				if ($.inArray( val, list_participate.split(',') ) != -1) {
					$(this).show();
				} else {
					$(this).hide();
				}
			});
		});

		$('.hotels').hide();
		$("#add_hotel").click(function(){
	    	if ($(this).is(":checked")){
	    		$('.hotels').fadeIn( "slow" );
	    	} else {
	    		$('.hotels').fadeOut( "slow" );
	    	}
	    });

	    $("#wk1").click(function(){
	    	if ($('#wk1').is(":checked")){
	    		$('#hwk1').val($(this).data('harga'));
	    		$('#hwk1_text').val($(this).data('text'));
	    	} else {
	    		$('#hwk1').val("");
	    		$('#hwk1_text').val("");
	    	}
	    });
	    $("#wk2").click(function(){
	    	if ($('#wk2').is(":checked")){
	    		$('#hwk2').val($(this).data('harga'));
	    		$('#hwk2_text').val($(this).data('text'));
	    	} else {
	    		$('#hwk2').val("");
	    		$('#hwk2_text').val("");
	    	}
	    });
	    $("#wk3").click(function(){
	    	if ($('#wk3').is(":checked")){
	    		$('#hwk3').val($(this).data('harga'));
	    		$('#hwk3_text').val($(this).data('text'));
	    	} else {
	    		$('#hwk3').val("");
	    		$('#hwk3_text').val("");
	    	}
	    });
	    $("#wk4").click(function(){
	    	if ($('#wk4').is(":checked")){
	    		$('#hwk4').val($(this).data('harga'));
	    		$('#hwk4_text').val($(this).data('text'));
	    	} else {
	    		$('#hwk4').val("");
	    		$('#hwk4_text').val("");
	    	}
	    });
	    $("#wk5").click(function(){
	    	if ($('#wk5').is(":checked")){
	    		$('#hwk5').val($(this).data('harga'));
	    		$('#hwk5_text').val($(this).data('text'));
	    	} else {
	    		$('#hwk5').val("");
	    		$('#hwk5_text').val("");
	    	}
	    });
	    $("#wk6").click(function(){
	    	if ($('#wk6').is(":checked")){
	    		$('#hwk6').val($(this).data('harga'));
	    		$('#hwk6_text').val($(this).data('text'));
	    	} else {
	    		$('#hwk6').val("");
	    		$('#hwk6_text').val("");
	    	}
	    });
	    $("#wk7").click(function(){
	    	if ($('#wk7').is(":checked")){
	    		$('#hwk7').val($(this).data('harga'));
	    		$('#hwk7_text').val($(this).data('text'));
	    	} else {
	    		$('#hwk7').val("");
	    		$('#hwk7_text').val("");
	    	}
	    });
	});
</script>
{% endblock %}