{% extends 'base.html' %}

{% block body %}
<div role="main" class="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a href="index-corporate-2.html">Home</a></li>
						<li class="active">National Congress Scientific Programme</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>National Congress Scientific Programme</h1>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<p>
			<img src="static/images/Sympo8Aprilnew.jpg" class="img-responsive" title="National Congress Scientific Programme" alt="National Congress Scientific Programme, Sabtu 8 April 2017">
		</p>
		<p>
			<img src="static/images/sympo9aprilnew.jpg" class="img-responsive" title="National Congress Scientific Programme" alt="National Congress Scientific Programme, Minggu 9 April 2017">
		</p>
	</div>
</div>

<style type="text/css">
	.dl-horizontal dt {
		width: 255px !important;
	}

	@media (min-width: 768px){
	.dl-horizontal dd {
	    margin-left: 265px;
		}
	}
</style>

{% endblock %}

{% block js %}

{% endblock %}