{% extends 'base.html' %}

{% block body %}
<div role="main" class="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a href="index-corporate-2.html">Home</a></li>
						<li class="active">Sambutan Ketua Panitia</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>Sambutan Ketua Panitia</h1>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<div class="col-md-9">
			<p></p>
          <p><img style="float: left;margin-right: 10px;" data-sticky-width="129" data-sticky-height="54" alt="Gatot Soegiarto" data-sticky-top="30" src="static/images/gatot1.jpg"> </p>
          <p>Surabaya akan menjadi tuan rumah Kongres Nasional PERALMUNI ke-9 tahun 2017, dari tanggal 8-9 April 2017. Kongres Nasional PERALMUNI merupakan kongres yang diadakan setiap 3 tahun oleh Perhimpunan Alergi dan Imunologi Indonesia (PERALMUNI) dan pada tahun 2017 didelegasikan pelaksanaannya kepada PERALMUNI Cabang Surabaya.</p>
          <p>Dengan tema: “Bersatu-padu menggalang semua sumber daya untuk mengatasi penyakit alergi dan imunologi”, kongres kali ini menawarkan kesempatan yang langka untuk saling bertukar pengalaman antar semua profesi di bidang alergi dan imunologi klinis, serta alih informasi dan pengetahuan tentang semua perkembangan ilmiah terbaru di kedua bidang ilmu tersebut. Diharapkan dengan demikian semua perkembangan tersebut juga dapat dinikmati oleh sejawat di fasilitas kesehatan tingkat 1, tingkat 2, maupun tingkat 3. </p>
          <p>Program ilmiah akan meliputi: plenary session, educational symposia, workshops, serta presentasi poster. Kami mengundang sejawat sekalian untuk mengirimkan hasil penelitian terbarunya agar dapat dipresentasikan dalam pertemuan ilmiah ini. Kami dengan senang hati menerima usulan topik atau program ilmiah yang sejawat harapkan ada dalam kongres kali ini. Kontribusi aktif sejawat sekalian merupakan hal yang akan sangat menentukan keberhasilan Kongres Nasional ini. Bersama-sama, kita akan menjadi semakin kuat dan diharapkan dapat mengatasi beban kesehatan yang ditimbulkan oleh penyakit alergi dan imunologi di Indonesia.</p>
          <p>Selain kegiatan ilmiah yang padat, sejawat sekalian juga akan dapat menikmati kehangatan dan keramah-tamahan kota Surabaya yang bukan saja menyandang julukan kota pahlawan dengan peninggalan sejarahnya, tetapi juga kota hijau dengn berbagai penghargaan internasional seperti kota dengan partisipasi publik terbaik se Asia Pasifik versi Cytinet Award 2012, The 2013 Asian Townscape Sector Award untuk taman-taman kota yang hijau seperti Taman Bungkul, dan Socrates Award 2014 untuk kategori City of The Future atau kota masa depan. Kami menanti kedatangan sejawat sekalian di kota Surabaya.</p>
          <p>Salam hangat,</p>
          <p><br>
            <img data-sticky-width="129" data-sticky-height="54" alt="tanda tangan Gatot Soegiarto" data-sticky-top="30" src="static/images/ttdgatot1.png"></p>
            <p><b>Gatot Soegiarto</b><br>
              Ketua Panitia Pelaksana <br> KONAS IX PERALMUNI 2017</p>
              <hr class="tall">
        </div>
	</div>
</div>

<style type="text/css">
	.dl-horizontal dt {
		width: 255px !important;
	}

	@media (min-width: 768px){
	.dl-horizontal dd {
	    margin-left: 265px;
		}
	}
</style>

{% endblock %}

{% block js %}

{% endblock %}